$center-value: center;
$margin-bottom: 1.5rem;

.App {
  text-align: $center-value;
  &-logo {
    height: 40vmin;
    pointer-events: none;
  }

  &-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: $center-value;
    justify-content: $center-value;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  & link {
    color: #61dafb;
  }
}

form > div.form-outline:not(:last-child) {
  margin-bottom: $margin-bottom;
}
