name: .MovieSystem.NET

on: push

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  run-dotnet-unit-tests:
    name: .NET Unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Installing .NET 7
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.x
      - name: Restore dotnet dependencies
        run: dotnet restore
      - name: Build dotnet solution
        run: dotnet build --no-restore
      - name: Run dotnet unit tests
        run: dotnet test --no-build
  run-react-unit-tests:
    name: React Unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - name: Install NPM packages
        run: npm ci
      - name: Build project
        run: npm run build
        env:
          CI: ''
      - name: Run unit tests
        run: npm test

    defaults:
      run:
        working-directory: ./MovieShowcaseSPA/ClientApp/
